<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.minhnhatphan.mynotes" android:installLocation="auto" android:versionCode="3" android:versionName="simple-noEditText.3.15.28">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:theme="@style/MainTheme" android:icon="@drawable/notes" android:label="Simple Notes"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>